include item
extends layout

block content
  header#header
    h1= name

  main#main
    section.jobs
      h2 Work Experience
      each job in work
        +item(job.name, job.role, job.dates, job.responsibilities)

    section.education
      h2 Education
      each school in education
        +item(school.name, school.role, school.dates, school.responsibilities)

    section.examples
      h2 Examples
      p(data-height="300", data-theme-id="4501", data-slug-hash="BcwAD", data-default-tab="result", class='codepen')
        | See the Pen
        a(href='http://codepen.io/thousand/pen/BcwAD') Bubble-y Text Fader
        | by Bryan Levay (
        a(href='http://codepen.io/thousand')@thousand
        | on
        a(href='http://codepen.io') CodePen
        | .
      p(data-height="300", data-theme-id="4501", data-slug-hash="EqyDf", data-default-tab="result", class='codepen')
        | See the Pen
        a(href='http://codepen.io/thousand/pen/EqyDf') Floating Tray
        | by Bryan Levay (
        a(href='http://codepen.io/thousand')@thousand
        | on
        a(href='http://codepen.io') CodePen
        | .
    script(async=true, src="//codepen.io/assets/embed/ei.js")

  footer.tech
    p
      | This page built with a few of my favorite things:
    ul
      li HTML5
      li CSS3
      li= "JavaScript with "
        a(href="http://requirejs.org") require.js
        = " and "
        a(href="http://jquery.com") jQuery

      li.verb in
      li: a(href="http://jade-lang.com") Jade
      li: a(href="http://learnboost.github.io/stylus/") Stylus
      li.verb on
      li: a(href="http://expressjs.com/") Express
      li: a(href="http://nodejs.org/") node.js
