mixin item( name, role, dates, responsibilities)
  .item
    hgroup
      h3= name
      if role
        h4= role
          if dates
            != ' &mdash; '
            em= dates
    p= responsibilities





