body
  font-family: "Open Sans", "Helvetica Neue", sans-serif
  font-size: 16px
  line-height: 1.5
  margin: 4em auto
  width: 60em
  background: bgcolor


a
  color: thatblue


h1, h2, h3, h4
  margin-top: .75em
  margin-bottom: .75em
  font-weight: 200;

h1
  font-size:4.25em
  color: thatblue

h2
  font-size:2.625em
  font-style: italic
  border-bottom: 1px solid

h3
  font-size:1.625em

h4
  font-size: 1.44em
