footer.tech
  padding: 1em 0;
  text-align: center
  font-size: 12px
  background: fgcolor
  color: bgcolor
  ul
    list-style: none
    margin: 0
    padding: 0
    li
      padding: 0.5em
      display: inline-block
      &.verb
        display: block
        color: lighten(bgcolor, 50%)

  .fa-html5
    font-size: 1.5em
  .fa-css3
    font-size: 1.2em
