#header
  position: fixed
  top: 0
  left: 0
  right: 0
  text-align: center
  color: thatblue
  background: bgcolor

  h1, h2, h3
    transition: font-size 0.15s linear
  h1
    margin: 0.25em

  &.collapse
    background: thatblue
    color: bgcolor
    h1
      font-size: 2em
    .info
      font-size: 0

  transition: background 0.15s linear, color 0.15s linear
